<div class="post" *ngIf=this.post>
  <img class="photo" src={{this.post.photoUrl}}>
  <div class="info">
    <div class="header">
      <div class="user-info">
        <img class="avatar" src={{this.post.user.avatarUrl}}>
        <p class="username">{{this.post.user.username}}</p>
      </div>
      <div class="date">{{this.dateOfPost}}</div>
    </div>
    <div class="content">
      <p class="caption">{{this.post.description}}</p>

      <div class="likes">
        <app-likes [post]=this.post></app-likes>
      </div>
    </div>

  </div>
</div>
