<div class="post">
  <img class="photo" src={{this.post.photoUrl}}>
  <div class="info">
    <div class="header">
      <div class="user-info">
        <img class="avatar" src={{this.post.user.avatarUrl}}>
        <p class="username">{{this.post.user.username}}</p>
      </div>
      <div class="date">{{this.dateOfPost}}</div>
    </div>
    <div class="content">
      <p class="caption">{{this.post.description}}</p>

      <div class="likes">
        <i (click)=this.likePost() class="material-icons" *ngIf=!this.myLike>
          favorite_border
        </i>
        <i (click)=this.likePost() class="material-icons" *ngIf=this.myLike>
          favorite
        </i>
        <span class="likes-count">{{ this.likes.likes }}</span>
      </div>
      <!-- <div class="likes">
        <app-likes></app-likes>
      </div> -->
    </div>

  </div>
</div>
