.photo {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

img:hover {
  box-shadow: 3px 4px 18px -5px rgba(66, 66, 66, 1);
  transform: translateY(-0.3rem);
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-out;
}

img {
  width: 100%;
}
