:host {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
:host > div {
  position: relative;
  width: 100%;
}
:host > div img.source-image {
  max-width: 100%;
  max-height: 100%;
}
:host .cropper {
  position: absolute;
  display: flex;
  color: #53535c;
  background: transparent;
  outline-color: rgba(255, 255, 255, 0.3);
  outline-width: 100vw;
  outline-style: solid;
  touch-action: none;
}
@media (orientation: portrait) {
  :host .cropper {
    outline-width: 100vh;
  }
}
:host .cropper:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  border: dashed 1px;
  opacity: 0.75;
  color: inherit;
  z-index: 1;
}
:host .cropper .move {
  width: 100%;
  cursor: move;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
:host .cropper .resize {
  position: absolute;
  display: inline-block;
  line-height: 6px;
  padding: 8px;
  opacity: 0.85;
  z-index: 1;
}
:host .cropper .resize .square {
  display: inline-block;
  background: #53535c;
  width: 6px;
  height: 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: content-box;
}
:host .cropper .resize.topleft {
  top: -12px;
  left: -12px;
  cursor: nwse-resize;
}
:host .cropper .resize.top {
  top: -12px;
  left: calc(50% - 12px);
  cursor: ns-resize;
}
:host .cropper .resize.topright {
  top: -12px;
  right: -12px;
  cursor: nesw-resize;
}
:host .cropper .resize.right {
  top: calc(50% - 12px);
  right: -12px;
  cursor: ew-resize;
}
:host .cropper .resize.bottomright {
  bottom: -12px;
  right: -12px;
  cursor: nwse-resize;
}
:host .cropper .resize.bottom {
  bottom: -12px;
  left: calc(50% - 12px);
  cursor: ns-resize;
}
:host .cropper .resize.bottomleft {
  bottom: -12px;
  left: -12px;
  cursor: nesw-resize;
}
:host .cropper .resize.left {
  top: calc(50% - 12px);
  left: -12px;
  cursor: ew-resize;
}
:host .cropper .resize-bar {
  position: absolute;
  z-index: 1;
}
:host .cropper .resize-bar.top {
  top: -11px;
  left: 11px;
  width: calc(100% - 22px);
  height: 22px;
  cursor: ns-resize;
}
:host .cropper .resize-bar.right {
  top: 11px;
  right: -11px;
  height: calc(100% - 22px);
  width: 22px;
  cursor: ew-resize;
}
:host .cropper .resize-bar.bottom {
  bottom: -11px;
  left: 11px;
  width: calc(100% - 22px);
  height: 22px;
  cursor: ns-resize;
}
:host .cropper .resize-bar.left {
  top: 11px;
  left: -11px;
  height: calc(100% - 22px);
  width: 22px;
  cursor: ew-resize;
}
:host .cropper.rounded {
  outline-color: transparent;
}
:host .cropper.rounded:after {
  border-radius: 100%;
  box-shadow: 0 0 0 100vw rgba(255, 255, 255, 0.3);
}
@media (orientation: portrait) {
  :host .cropper.rounded:after {
    box-shadow: 0 0 0 100vh rgba(255, 255, 255, 0.3);
  }
}
:host .cropper.rounded .move {
  border-radius: 100%;
}
