<div class="wrapper">
  <div>
    <div class="button-wrapper">
      <span class="label">
        Choose file
      </span>
      <input
        type="file"
        (change)="fileChangeEvent($event)"
        class="file"
        id="upload"
      />
    </div>
    <div class="options">
      <button (click)="rotateLeft()">
        <i class="material-icons">arrow_back</i>
      </button>
      <button (click)="rotateRight()">
        <i class="material-icons">arrow_forward</i>
      </button>
      <button (click)="flipHorizontal()">
        <i class="material-icons">arrow_downward</i>
      </button>
      <button (click)="flipVertical()">
        <i class="material-icons">arrow_upward</i>
      </button>
    </div>
  </div>
  <div class="placeholder" *ngIf="!this.imageChangedEvent"></div>
  <div class="img-wrapper" *ngIf="this.imageChangedEvent">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="3 / 3"
      [resizeToWidth]="600"
      [onlyScaleDown]="true"
      [roundCropper]="false"
      format="png"
      outputType="base64"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
      [style.display]="showCropper ? null : 'none'"
      [alignImage]="'left'"
    >
    </image-cropper>
  </div>
</div>
