object {
  transform: scale(0.5);
  transition: all 300ms;
}

object:hover {
  transform: scale(0.7);
}
.search {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #8befc8;
  height: 2.5rem;
  padding-left: 5%;
}

input {
  background-color: transparent;
  all: unset;
  line-height: 2;
  color: white;
}

input::placeholder {
  color: white;
}
