<div class="wrapper">
  <div class="single-post-container">
    <img class="photo" src={{this.post.photoUrl}} align="center">
    <div class="info">
      <div class="date">{{this.dateOfPost}}</div>

      <div class="user-info">
        <img class="avatar" src={{this.post.user.avatarUrl}}>
        <p class="username">{{this.post.user.username}}</p>
        <app-likes class="likes"></app-likes>
      </div>

      <hr />
      <p class="description">{{this.post.description}}</p>

      <div class="tag-section">
        <p class="comments-tag">Comments:</p>
        <p class="liked-tag" float="right">Liked by:</p>
      </div>
      <hr />

      <div class="comments">
        kasd;asd;na
      </div>
    </div>
  </div>

</div>
