nav {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  background-color: #48e7a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-shadow: 0px 5px 21px -6px rgba(95, 94, 94, 0.75);
  -moz-box-shadow: 0px 5px 21px -6px rgba(91, 91, 91, 0.75);
  box-shadow: 0px 5px 21px -6px rgba(90, 90, 90, 0.75);
}

img {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 300ms;
  z-index: 0;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon:hover > span {
  display: block;
}

.icons {
  padding: 1rem;
}

img:hover {
  transform: scale(1.1);
}

img:focus {
  outline: none;
}

.logo,
.mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid {
  flex-wrap: wrap;
  flex-shrink: 1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  margin-left: -2rem;
}

button {
  z-index: 3;
  all: unset;
}

.search {
  z-index: 10;
  padding: 0 1rem;
}

.admin {
  position: relative;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: none;
  flex-direction: column;
}

.menu-icon span {
  font-size: 0.7rem;
  display: none;
  color: white;
  position: absolute;
  bottom: 0;
}

.logo img {
  width: auto;
  margin-left: 1rem;
}

.show{
  display: flex;
}

.hide {
  display: none;
}

.material-icons{
  display: none;
}


@media only screen and (max-width: 700px) {
  .logo {
    display: none;
  }
  .mid {
    padding-top: 1rem;
    flex-wrap: wrap;
    width: 92%;
    flex-direction: column;
  }
  .search {
    width: 92%;
    min-width: none;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }
  .search {
    padding: 0 0.5rem;
  }

  .menu-icon span {
    display: inline;
    position: unset;
    font-size: 1rem;
  }

  nav {
    flex-direction: column;
  }

  .mid {
    padding-top: 1rem;
    justify-content: space-between;
    flex-direction: column;
  }

  .menu-icon {
    flex-direction: row;
    width: 100%;
    border-radius: none;
  }

  .menu-icon:focus {
    outline: none;
  }

  .icons {
    transform: 0;
  }

  .material-icons{
    display: block;
    margin: 0 auto;
    color: white;
    cursor: pointer;
  }
 
}

@media only screen and (min-width: 500px) {
div.mid {
  display: flex !important
}
}
