<nav>
  <div class="logo">
    <img src="../../../assets/icons/logo.svg" />
    <img src="../../../assets/icons/Line 75.svg" />
    <img src="../../../assets/icons/Huggo.svg" class="name" />
  </div>
  <div class="mid">
    <img src="../../../../assets/icons/Home.svg" class="icons" title="Newsfeed" [routerLink]="['/home']" />
    <div class="search">
      <app-search></app-search>
    </div>
    <img *ngIf="this.loggedIn" src="../../../assets/icons/create_post_nav.svg" [routerLink]="['/posts/create']"
      class="icons" title="Create Post" />
    <img src="../../../assets/icons/compass.svg" class="icons" title="Explore" [routerLink]="['/explore/posts']" />
    <img [routerLink]="this.profileLink" src="../../../assets/icons/user.svg" title="View Pofile" />
    <div class="admin">
      <img *ngIf="this.isAdmin" src="../../../assets/icons/control_x2C__management.svg" class="icons" title="History"
        [routerLink]="['admin/history']" />
    </div>
    <img src="../../../assets/icons/logout.svg" class="icons" title="Logout" (click)="this.logout()" />
  </div>
</nav>
