nav {
  background-color: #48e7a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  
}

img {
  transform: scale(0.5);
  transition: transform 300ms;
  z-index: 0;
}

img:hover {
  transform: scale(0.7);
}

img:focus {
  outline: none;
}



.logo, .mid{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
    margin-left: -2rem;
}

button {
  z-index: 3;
  all: unset;
}

.search {
  z-index: 10;
}

.admin{
  position: relative;
}

.dropdown{
  cursor:pointer;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #48e7a8;
  color: white;

}

.dropdown >div {
  padding: 0.5rem;
  line-height: 1;
}

.dropdown >div:hover {
  padding: 0.5rem;
  color: black;
}


@media only screen and (max-width: 700px) {
    .logo{
        display: none;
    }
    .mid{
        flex-wrap: wrap;
        width: 100%;
    }
  }
