.wrapper {
  padding-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* fixing padding under menu after resize */
@media screen and (min-width: 320px) and (max-width: 535px) {
  .wrapper {
    padding-top: 150px;
  }
}

@media only screen and (max-width: 240px) {
  .wrapper {
    padding-top: 200px;
  }
}

img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.9rem;
}

.info {
  padding: 1.5rem;
  max-width: 25rem;
  min-width: 20rem;
  justify-content: space-between;
}

.info div {
  margin-bottom: 0.5rem;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.followers-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-style: oblique;
}

.followers-count span {
  font-weight: bolder;
  font-style: normal;
}

.material-icons {
  transition: transform 300ms;
}

.material-icons:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.username {
  font-size: 1.3rem;
}

.name {
  font-size: 1.1rem;
  font-weight: 500;
}

.edit-wrapper {
  z-index: 10;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.753);
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 20;
}

.close:hover {
  cursor: pointer;
  transform: none;
}
