<div class="wrapper">
<div class="profile-container">
  <img class="avatar" src="{{this.user.avatarUrl}}" alt="logo" />
  <div class="info" >
    <div class="profile-header">
      <div class="username">{{this.user.username}}</div>
      <div class="contols">
        <i class="material-icons" (click)="this.toggleEditMenu()" *ngIf="this.isOwner">build</i>
        <i class="material-icons" *ngIf="!this.isOwner && this.loggedIn && !this.followed" title="follow"(click)= "this.followUser()">person_add</i>
        <i class="material-icons" *ngIf="!this.isOwner && this.loggedIn && this.followed" title="unfollow" (click)= "this.unfollowUser()">person_add_disabled</i>
      </div>
    </div>
    <div class="followers-count">
      <div class="posts"><span>{{this.user.posts.length}}</span> posts</div>
      <div class="followers"><span>{{this.user.followers.length}}</span> followers</div>
      <div class="followed"><span>{{this.user.followed.length}}</span> followed</div>
    </div>
    <div class="info-wrapper">
      <div class="name">{{this.user.name}}</div>
      <div class="email">{{this.user.email}}</div>
      <div class="country">{{this.user.country}}</div>
      <div class="description">{{this.user.description}}</div>
    </div>
  </div>
</div>
<div class="edit-wrapper" *ngIf="this.showEditMenu">
    <i class="material-icons close" (click)="this.toggleEditMenu()">close</i>
<app-update-profile  [user]="this.copyOfUser" (updatedUser)="this.updateProfileView($event)"></app-update-profile>
</div>
</div>
