.posts-container {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
  background: #fef1f1;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  /* height: initial;
  width: initial; */
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
  /* display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 5%; */
}

/* @media only screen and (max-width: 1025px) {
  .posts-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 680px) {
  .posts-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 320px) {
  .posts-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
