.comment-container {
    width: 100%;
    margin-bottom: 0.5rem;
    /* border: solid grey; */
    /* border-width: 1px 0px 0 0; */
    /* margin-bottom: 30%; */
}
.user-info {
    display: flex;
    align-items: center;
    height: 2.5rem;
}

.username {
    font-size: 0.8rem;
    padding-left: 7%;
    display: inline;
    margin: 0;
    top: 50%;
    bottom: 50%;
}

.avatar {
    border: 0.05rem solid grey;
    object-fit: cover;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.timestamp {
    font-size: 0.7rem;
}

.content {
    font-size: 0.8rem;
    max-width: 12rem;
    min-width: 12rem;
    overflow-wrap: break-word;
}

.header {
    display: flex;
    justify-content: space-between;
}

.delete-button {
    text-align: right;
}

.main {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 1.2rem;
    max-height: 1.2rem;
}

.material-icons {
    color: black;
}

.material-icons:hover {
    cursor: pointer;
    color: #156800;
}

/*
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2em;
    overflow-x: hidden;
} */
