* {
  box-sizing: border-box;
}

body {
  background-color: #fef1f1;
}

.no-posts {
  margin: 1rem auto;
  text-align: center;
  font-size: 1.3rem;
  color: rgb(110, 104, 104);
}

.posts-container {
  overflow: hidden;
  background-color: #fef1f1;
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* fixing padding under menu after resize */
@media screen and (min-width: 320px) and (max-width: 535px) {
  .posts-container {
  }
}

@media only screen and (max-width: 240px) {
  .posts-container {
  }
}
