/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #fef1f1;
  margin: 0;
  font-family: 'Segoe UI';
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 4.5rem;
  height: 100%;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: hsl(0, 0, 0, 96%);
  border-radius: 0;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: hsl(0, 0, 0, 96%);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #94f2c9),
    color-stop(0.72, #6ef3be),
    color-stop(0.86, #48e7a8)
  );
}

.my-class .mat-dialog-container {
  max-height: 100vh;
  overflow-y: auto !important;
  background: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  box-shadow: none;
  border: none;
  padding: 0;
}

.mat-dialog-container::-webkit-scrollbar {
  display: none;
}

.cdk-global-scrollblock{
 overflow: hidden;
}

@media only screen and (max-width: 500px) {
  body {
    padding-top: 1.5rem;
  }
  .cdk-overlay-pane {
    max-width: 100% !important;
    max-height: 150%
  }
}


