.fake-nav {
  position: fixed;
  top: 0;
  padding: 0.5rem;
  z-index: 20;
  width: 100%;
  background-color: #48e7a8;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 5px 21px -6px rgba(95, 94, 94, 0.75);
  -moz-box-shadow: 0px 5px 21px -6px rgba(91, 91, 91, 0.75);
  box-shadow: 0px 5px 21px -6px rgba(90, 90, 90, 0.75);
}

.fake-background {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  padding: 0.5rem;
  z-index: 10;
  height: 5rem;
}

.icon span {
  font-size: 0.7rem;
  display: none;
  color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-top: 0.5%;
}

.icon:hover > span {
  display: block;
}

img:hover {
  transform: scale(1.05);
}

img:focus {
  outline: none;
}

img {
  padding-bottom: 0.1rem;
  transition: transform 300ms;
  width: 3rem;
  margin-right: 1%;
  margin-left: 1%;
}

.back-icon {
  justify-self: flex-start;
}

.back-text {
  margin-left: 0.8%;
}

.explore-icon {
  justify-self: center;
  margin: 0 auto;
}

.explore-text {
  margin-left: 0.5%;
}

.content {
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 330px) {
  .icon img {
    width: 2rem;
  }
  .icon span {
    display: inline;
    font-size: 0.7rem;
  }
  .explore-text {
    margin-left: -0.5%;
  }
}

@media only screen (min-width: 330px) and (max-width: 500px) {
  .icon img {
    width: 2.5rem;
  }
  .icon span {
    display: inline;
    font-size: 1rem;
  }
  .explore-text {
    margin-left: -0.5%;
  }
}
