* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.posts-container {
  overflow: hidden;
  max-width: 100%;
  /* height: 100%; */
  position: relative;
  background: #fef1f1;
  display: grid;
  grid-template-columns: repeat(5, 19.5vw);
  grid-template-rows: 19.5vw;
  grid-gap: 0.5vw;
}

.single-post {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  .posts-container {
    grid-template-columns: repeat(3, 32.6vw);
    grid-template-rows: 32vw;
    grid-gap: 0.5vw;
  }
}

@media only screen and (max-width: 320px) {
  .posts-container {
  }
}

@media screen and (min-width: 575px) and  (max-width: 1000px) {
  .posts-container {
    grid-template-columns: 25% 25% 25% 25%;
  }

}
